.legacy-section {
  margin-top: 5%;
  padding: 40px 20px;
  background-color: #f9f9f900;
}

.legacy-content-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
 
  
}
.legacy-content{
  text-align: justify;
}

.legacy-content-div > div:first-child {
  flex: 2;
}

.business-entity-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.business-entity-wrapper p {
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 700;
    background: linear-gradient(90deg, rgba(234, 49, 56, 1) 0%, rgba(0, 0, 0, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease;
}

.business-entity-wrapper p:hover {
  transform: translateY(-5px);
}
/*  */
/*  */
.busniss-unit-card-section {
  margin-top: 5%;
  padding: 20px;
}

.busniss-unit-card-wrapper {
  margin-top: -20px !important;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

/* Card Styles */
.business-unit-card {
  width: 30%;
  height: 280px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

}

/* Card heading */
.card-heading {
  display: flex;
  justify-content: flex-start;
 border-radius: 8px;
  width: 100%;
 font-size: 22px !important;
  margin-bottom: 15px !important;
    background: linear-gradient(90deg, rgba(234, 49, 56, 1) 0%, rgba(0, 0, 0, 1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0 ;
  padding: 10px ;

}

/* Bullet Points */
.card-point {
  position: relative;
  padding:0 35px !important;
  margin-bottom: 8px;
  margin-left: 15px;
  font-size: 18px !important;
  line-height: 1.5;
 
}

.card-point::before {
  content: '→';
  position: absolute;
  left: 0;

  color: hotpink;
  font-weight: bold;
}
/*  */
.road-map-section{
    margin-top: 5%;
    padding: 0;
}
.road-map-content-div{
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}
.road-map-img{
max-width: 100%;
height: 100%;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .business-unit-card {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .business-unit-card {
    width: 100%;
  }

  .card-heading {
    font-size: 16px;
  }

  .card-point {
    font-size: 14px;
  }
  .business-unit-card4 {
height: 100%;

}
}



/* Responsive - Mobile */
@media screen and (max-width: 768px) {
  .legacy-content-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .business-entity-wrapper {
    width: 100%;
  }

  .business-entity-wrapper p {
    font-size: 14px;
    padding: 12px;
  }
}
