.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  perspective: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: scale(0.8);
}

.slide img {
  width: 450px;
  height: auto;
  border-radius: 10px;
}

.slide.active {
  opacity: 1;
  transform: scale(1) translateZ(20px);
  z-index: 3;
}

.slide.left {
  opacity: 0.5;
  transform: translateX(-450px) scale(0.7) translateZ(-100px); /* Move more to the left */
  z-index: 1;
}

.slide.right {
  opacity: 0.5;
  transform: translateX(450px) scale(0.7) translateZ(-100px); /* Move more to the right */
  z-index: 1;
}


.slide.hidden {
  opacity: 0;
  transform: scale(0.5) translateZ(-200px);
  z-index: 0;
}

/* ------------- */
.product-page-section {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
}

.product-sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.product-sidebar h3 {
  margin-bottom: 20px;
}

.product-category-button {
  display: block;
  margin-bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.product-category-button.active {
  font-weight: bold;
  color: #007bff;
}

.product-content {
  flex: 1;
  padding: 20px;
}

.product-filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.product-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(0.9); /* Zoom out on hover */
}


.product-card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.product-card-text-div{
  margin-right: auto;
  text-align: left;
}
.product-card-title {
  margin: 10px 0;
}

.product-card-description {
  color: #555;
}

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }

  .product-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .product-filters {
    flex-direction: column;
  }

  .product-card-grid {
    grid-template-columns: 1fr;
  }

  .product-card {
    width: 100%;
  }
}
