body {
  margin-top: 120px !important;
  font-family: 'Raleway', sans-serif;
}
.App{
  font-family: 'Raleway', sans-serif;;
}

.page-heading{
  padding: 0 11px;
  text-align: center;
  font-size: 2rem !important;
  font-weight: 600;
  margin-bottom: 5rem !important;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
.page-heading::after {
  margin: auto !important;
  content: '';
  position: absolute;
  bottom: -8px; /* space below text */
  left: 0;
  right: 0;
  height: 1.5px;
  width: 35%;
  background: linear-gradient(90deg, rgba(234, 49, 56, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.section-heading{
font-size: 1.5rem;
font-weight: 600;
}
.page-text{
font-size: 18px;
}
.pink-button{
    background-color: #ea3138 !important;
    padding: 10px 20px;
    border: none;
}

/*  */
@media screen and (max-width: 768px) {
.page-heading {
  text-align: center;
  font-size: 1.6rem !important;
  font-weight: 600;
  margin-bottom: 2rem !important;
  position: relative;
  display: inline-block;
}



.section-heading{
 
font-size: 1.5rem;
font-weight: 600;
}
.page-text{
font-size: 16px;
}
}