.App {
  text-align: center;
}

.about-bottom-breadcrumb {
  position: absolute;
  bottom: 20px;
  right: 20px; /* Move to right */
  margin: 0;
  font-size: 16px;
  z-index: 2;
  color: #000;
}

.about-bottom-breadcrumb a {
  text-decoration: none;
  color: #000;
}

.about-bottom-breadcrumb span {
  color: red;
}
